* {
  margin: 0;
}

.d-none {
  display: none;
}

@media screen and (max-width: 1439px) {
  // laptop
  .d-none-laptop {
    display: none;
  }
}

@media screen and (max-width: 1239px) {
  // tablet
  .d-none-tablet {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  // phone
  .d-none-phone {
    display: none;
  }
}
